/* @import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400; 
  /* font-family: "Emilys Candy", serif; */
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(-190deg, lightgreen 0%, blueviolet 50%,purple 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: 100vw 100vh;
}

.game {
  width: 400px;
  height: 460px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: solid 1px aliceblue;
  box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.50);
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
}

.game img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.title {
  margin-top: -340px;
  margin-right: -60px;
  font-size: 1rem;
  color: aliceblue;
}

.crush {
  display: block;
  font-size: 4rem;
}

.score-board {
  color: aliceblue;
  margin-left: -140px;
}

.score {
  font-size: 3rem;
}

.highScore {
  font-size:2rem;
}
